body {
	background-color: black;
	font-family: Impact, Charcoal, sans-serif;
	color: white;
}

#playWindow {
	position: relative;
	display: flex;
	justify-content: center;
}

#playArea {
	position: relative;
   	width: 800px;
	height: 600px;
	border: solid green 2px;
	overflow: hidden;
}

#scoreContainer {
	position: absolute;
	left: 10px;
	top: 10px;
	text-align: left;
	font-size: 1.5em;
	z-index: 30;
}

.score {
	padding: 10px;
}

.sprite {
	position: absolute;
	z-index: 10;
}

#messageContainer {
	display: flex;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: 50px;
	text-align: center;
	width: 100%;
	z-index: 40;
}

.message {
	padding:20px;
	font-size: 3em;
	margin-top:190px;
}

.menu {
	font-size: 2.5em;
}

.menu:hover {
	color: green;
}

.game {
	font-size: 1.5em;
	border-radius: 98%;
	padding: 12px;
	margin-bottom: 1.8em;
}

.game:hover {
	color:green;
}