body {
	font-family: Impact, Charcoal, sans-serif;
	color: white;
}

#playWindow {
	position: relative;
	display: flex;
	justify-content: center;
}

#playArea {
	background-color: black;
	position: relative;
   	width: 800px;
	height: 600px;
	border: solid rgb(5, 221, 5) 5px;
	overflow: hidden;
}

#scoreContainer {
	position: absolute;
	left: 10px;
	top: 10px;
	text-align: left;
	font-size: 1.5em;
}

.score {
	padding: 10px;
	z-index: 40;
}

.sprite {
	position: absolute;
	z-index: 10;
}

#messageContainer {
	display: flex;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: 50px;
	text-align: center;
	width: 100%;
	z-index: 40;
}

.message {
	padding:20px;
	font-size: 4em;
	margin-top:180px;
}

.menu {
	font-size: 2.5em;
}

.menu:hover {
	color:rgb(5, 221, 5);
}

.game {
	font-size: 1.5em;
	border-radius: 98%;
	padding: 12px;
	margin-bottom: 1.8em;
}

.game:hover {
	color:rgb(3, 163, 3);
}

/*---------------------stars--------------------*/

.star {
	position: absolute;
	left: 0px;
	background-color: white;
	border-radius: 50%;
	animation-name: moveX;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
    }
    
    .small {
	top: 10px;
	width: 3px;
	height: 3px;
	animation-duration: 5s;  
    }
    
    .medium {
	top: 50px;
	width: 4px;
	height: 4px;
	animation-duration: 4s;  
    }
    
    .big {
	left: 0px;
	top: 100px;
	width: 5px;
	height: 5px;
	animation-duration: 3s;  
    }
    
    @keyframes moveX {
	from {
	  transform: translateX(1500px);
	}
	to {
	  transform: translateX(200px);
	}
    }

    /* ---------- matrix -------------*/

    canvas {
	    display: block;
    }

    /*------------ explosion ---------*/

    .explosion {
	position: absolute; 
	width: 600px;
	height: 600px;
	pointer-events: none;
}
	
	.particle {
	  position: absolute; 
	  width: 10px;
	  height: 10px;
	  border-radius: 50%;
	  animation: pop 0.8s reverse forwards; 
	  
    }

    @keyframes pop {
	from {
	  opacity: 0;
	}
	to {
	  top: 50%;
	  left: 50%;
	  opacity: 1;
	}
    }
  
    h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -100%);
	color: #CCC;
	user-select: none;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-moz-user-select: none;      /* Firefox */
    }