@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text&display=swap');
body {
	font-family: 'Big Shoulders Stencil Text', cursive;
	color: rgb(129, 239, 96)
}

/*--------------- play area -------------*/

#playWindow {
	position: relative;
	display: flex;
	justify-content: center;
}

#playArea {
	background-color: black;
	position: relative;
   	width: 800px;
	height: 600px;
	border: solid rgb(5, 221, 5) 5px;
	overflow: hidden;
}

#scoreContainer {
	position: absolute;
	left: 10px;
	top: 10px;
	text-align: left;
	font-size: 1.5em;
}

.score {
	padding: 10px;
	z-index: 40;
}

.sprite {
	position: absolute;
	z-index: 10;
}

#messageContainer {
	display: flex;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: 35px;
	text-align: center;
	width: 100%;
	z-index: 40;
}

.message {
	padding:20px;
	font-size: 4em;
	margin-top:180px;
}

.menu {
	font-size: 2.5em;
	cursor: pointer;
}

.menu:hover {
	color:rgb(5, 221, 5);
}

.game {
	font-size: 1.5em;
	border-radius: 98%;
	padding: 12px;
	margin-bottom: 1em;
	font-family: 'Big Shoulders Stencil Text', cursive;
	cursor: pointer;
}

.game:hover {
	color:rgb(3, 163, 3);
}

.mini-monster {
	height: 40px;
	width: 40px;
}

/*---------------------stars--------------------*/

.star {
	position: absolute;
	left: 0px;
	background-color: white;
	border-radius: 50%;
	animation-name: moveX;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
    }
    
    .small {
	top: 20px;
	width: 3px;
	height: 3px;
	background-color: white;
	animation-duration: 5s;  
    }
    
    .medium {
	top: 60px;
	width: 4px;
	height: 4px;
	animation-duration: 4s;  
    }
    
    .big {
	left: 0px;
	top: 100px;
	width: 5px;
	height: 5px;
	animation-duration: 3s;  
    }
    
    @keyframes moveX {
	from {
	  transform: translateX(1500px);
	}
	to {
	  transform: translateX(200px);
	}
    }

    /* ---------- matrix -------------*/

    canvas {
	    display: block;
    }

    /*------------ explosion ---------*/

    .explosion {
	position: absolute; 
	width: 400px;
	height: 600px;
}
	
	.particle {
	  position: absolute; 
	  width: 10px;
	  height: 10px;
	  border-radius: 50%;
	  animation: pop 0.6s reverse forwards; 
	  
    }

    @keyframes pop {
	from {
	  opacity: 0;
	}
	to {
	  top: 50%;
	  left: 50%;
	  opacity: 1;
	}
    }
  
    h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -100%);
	color: #CCC;
	user-select: none;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-moz-user-select: none;      /* Firefox */
    }


    /* --------------- splash screen --------------*/

    .splash{
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgb(32, 47, 30);
	font-size: 5em;
	display: flex;
	align-items: center;
	justify-content: center;
	animation-name: open;
	animation-duration: 2s;
	animation-delay: 2.4s;
	animation-fill-mode: forwards;
	z-index: 50;
	}

  .splash .img{
	height: 82px;
	width: 82px;
	margin-right:0.5em;
	  }

.imageContainer {
	max-width: 700px;
}

.splash::after, .splash::before{
	content: "";
	position: absolute;
	background-color: rgb(127, 199, 105);
	height: 100vh;
	width: 30vw;
	z-index: 99;
	animation-name: open;
	animation-fill-mode: forwards;
	animation-duration: 1.2s;
  }
  .splash::after{
	left: 30vw;
	animation-delay: 200ms;
  }
  .splash::before{
	left: 0;
	animation-delay: 1.2s;
  }
  @keyframes open{
	0%{
	    transform: translate(0, 0);
	}
	100%{
	    transform: translate(100%, 0);
	}
  }